
.scriptable-doc__widget-info {
    height: 260px;
    border-radius: 35px;
    background-color: var(--sidebar-bg);
    border: 1px solid var(--sidebar-border-color);
}

.scriptable-doc__widget-attribute {
    color: var(--sidebar-muted-color);
    margin-right: 10px;
}

.scriptable-doc__widget-preview img {
    border-radius: 35px;
    height: 250px;
    filter: grayscale(35%);
}

.scriptable-doc__widget-preview > a {
    margin: 0 !important;
}
