@use '../_sass/abstracts/breakpoints' as bp;


.scriptable-doc__widget {

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;

    border-radius: 35px;
    background-color: var(--sidebar-bg);
    border: 1px solid var(--sidebar-border-color);

    @include bp.lte(bp.get(lg)) {
        flex-direction: column-reverse;
        align-items: flex-start;
        width: max-content;
    }

    &-details {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    &-attribute {
        color: var(--sidebar-muted-color);
        margin-right: 10px;
    }

    &-preview img {
        border-radius: 35px;
        height: 250px;
        filter: grayscale(35%);

        @include bp.lte(bp.get(lg)) {
            height: auto;
            width: 90vw;
        }
    }

    &-preview > a {
        margin-right: 0.5rem !important;
    }
}

.scriptable-doc__uiTable-preview {
    overflow: hidden;
    width: 70%;
    height: 250px;
    position: relative;
    border-radius: 35px;

    @include bp.lte(bp.get(lg)) {
        width: 90vw;
    }

    & img {
        position: absolute;
        top: 0;
        left: 0;
        height: auto;
        width: 100%;
    }
}
