
<!-- 
    Represents script chip that gives
    information about script functionality.
-->

{%- assign display = include.controlValue != null -%}
{%- assign content = include.content -%}
{%- assign bgColor = include.color -%}
{%- assign textColor = include.textColor | default: 'light' -%}

{%- if display -%}
    <span class="d-inline-flex 
                align-items-center 
                justify-content-center 
                gap-1 badge bg-{{ bgColor }} text-{{ textColor }}"
    >
        <i class="fa-solid fa-{{ include.icon }}"></i>
        {{ content }}
    </span>
{%- endif -%}
