
<!-- 
    Represents script documentation header
    which contains summary of script capabilities.
-->

{%- assign script_id = include.name | replace: ' ', '-' | downcase -%}

<div class="mb-5 mt-5">
    <!-- Script name -->
    <h3 id="{{ script_id }}">{{include.name}}</h3>

    <!-- Chips Section -->
    <div class="d-flex gap-1">
        <!-- Region Specific Chip -->
        {% include doc_chip.html
            controlValue=include.specificity
            color="warning"
            textColor="dark"
            icon="flag"
            content="Region Specific"
        %}
        
        <!-- Widget Support Chip -->
        {% include doc_chip.html
            controlValue=include.widgetSupport
            color="success"
            icon="image"
            content="Widget Support"
        %}

        <!-- UI Table Support Chip -->
        {% include doc_chip.html
            controlValue=include.uiTableSupport
            color="primary"
            icon="table"
            content="UI Table Support"
        %}
    </div>

    <!-- Widget Information Block -->
    {%- if include.widgetSupport -%}
        <div class="scriptable-doc__widget mt-5 p-1">

            {% assign widgetSize = include.widgetSize | default 'small' %}

            {% assign specificityIcon = "text-success fa-globe" %}
            {% assign specificityRegion = "Global" %}

            {% assign sizeOne = "fa-regular" %}
            {% assign sizeTwo = "fa-regular" %}
            {% assign sizeThree = "fa-regular" %}

            {% case widgetSize %}
                {% when 'small' %}
                    {% assign sizeOne = "fa-solid" %}

                {% when 'medium' %}
                    {% assign sizeOne = "fa-solid" %}
                    {% assign sizeTwo = "fa-solid" %}

                {% when 'large' %}
                    {% assign sizeOne = "fa-solid" %}
                    {% assign sizeTwo = "fa-solid" %}
                    {% assign sizeThree = "fa-solid" %}
            {% endcase %}

            {% case include.specificity %}
                {% when 'uk' %}
                    {% assign specificityIcon = "text-warning fa-flag" %}
                    {% assign specificityRegion = "Ukraine" %}
            {% endcase %}

            <div class="scriptable-doc__widget-details p-4 h-100">

                <span data-toc-skip class="mb-5 h4">Widget</span>

                <div class="d-flex flex-column align-items-start">
                    <div class="d-inline-flex align-items-center gap-1">
                        <span class="scriptable-doc__widget-attribute">Size:</span>
                        <i class="{{ sizeOne }} fa-circle"></i>
                        <i class="{{ sizeTwo }} fa-circle"></i>
                        <i class="{{ sizeThree }} fa-circle"></i>
                    </div>
                    <div class="d-inline-flex align-items-center gap-1">
                        <span class="scriptable-doc__widget-attribute">Specificity:</span>
                        <i class="fa-solid {{ specificityIcon }}"></i>
                        <span>{{ specificityRegion }}</span>
                    </div>
                </div>
            </div>

            <div class="scriptable-doc__widget-preview {{ widgetSize }}">
                {%- if include.widgetPreview != null -%}
                    <img
                        src="{{ include.widgetPreview }}" 
                        alt="Preview of {{ include.name }} widget"
                    >
                {%- endif -%}
            </div>
        </div>
    {%- endif -%}

    <!-- UI Table Information Block -->
    {%- if include.uiTableSupport -%}
        <div class="scriptable-doc__widget mt-5 p-1">

            <div class="scriptable-doc__widget-details p-4 h-100">

                <span data-toc-skip class="mb-5 h4">UI Table</span>

                <div class="d-flex flex-row align-items-start gap-5">

                    {%- 
                        if include.uiTableAllowCreation 
                        or include.uiTableAllowEditing 
                        or include.uiTableAllowDeletion
                    -%}
                        <div class="d-flex flex-column gap-1">
                            {%- if include.uiTableAllowCreation -%}
                                <div class="d-inline-flex align-items-center gap-1">
                                    <i class="fa-solid fa-plus text-success"></i>
                                    <span>Create</span>
                                </div>
                            {%- endif -%}

                            {%- if include.uiTableAllowEditing -%}
                                <div class="d-inline-flex align-items-center gap-1">
                                    <i class="fa-solid fa-pen-to-square text-success"></i>
                                    <span>Edit</span>
                                </div>
                            {%- endif -%}

                            {%- if include.uiTableAllowDeletion -%}
                                <div class="d-inline-flex align-items-center gap-1">
                                    <i class="fa-solid fa-trash text-success"></i>
                                    <span>Delete</span>
                                </div>
                            {%- endif -%}
                        </div>
                    {%- endif -%}

                    <div class="d-flex flex-column gap-1">
                        {%- if include.uiTableAllowFiltering -%}
                            <div class="d-inline-flex align-items-center gap-1">
                                <i class="fa-solid fa-filter text-success"></i>
                                <span>Filter</span>
                            </div>
                        {%- endif -%}

                        {%- if include.uiTableReadonly -%}
                            <div class="d-inline-flex align-items-center gap-1">
                                <i class="fa-brands fa-readme text-warning"></i>
                                <span>Readonly</span>
                            </div>
                        {%- endif -%}
                    </div>
                </div>
            </div>

            <div class="scriptable-doc__uiTable-preview d-flex align-items-center">
                {%- if include.uiTablePreview != null -%}
                    <img
                        src="{{ include.uiTablePreview }}" 
                        alt="Preview of {{ include.name }} UI Table"
                    >
                {%- endif -%}
            </div>
        </div>
    {%- endif -%}
</div>